.policy-page {
    padding: 50px;
    margin-top: -20px;
}

.policy-article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.policy-header {
    background-image: linear-gradient(to top, #F4F4F4, #045d58);
    padding-bottom: 200px;
    max-width: 100%;

    h1 {
        color: #f7c0b9;
        font-size: 4rem;
        padding-top: 45px;
        text-align: center;
    }

    h2 {
        color: #045d58;
        font-family: 'Norwester', sans-serif;
        font-size: 1.8rem;
        margin-bottom: 15px;
    }
        
    p {
        color: #f7c0b9;
        padding-top: 45px;
        padding-left: 45px;
        padding-right: 45px;
        // text-align: justify;
        text-align: center;
        font-size: 1.5rem;
        word-spacing: -1.5px;
        line-height: 1.6;
        margin-bottom: 20px;
    }
}