    // Thème clair
    $light-bg-color: #F4F4F4;
    
    $lighttheme-blue: #64B5F6;
    $lighttheme-blue-dark: #2196F3;
    $lighttheme-brown: #836257;
    $lighttheme-brown-dark: #6d4f44;
    $lighttheme-green: #b2ca95;
    $lighttheme-green-dark: #3c6b45;
    
    // Thème sombre
    $dark-bg-color: #0b1929;
    
    $darktheme-blue: #7cd5ff;
    $darktheme-blue-dark: #3a84c0;
    $darktheme-grey: #2a373d;
    $darktheme-brown: #B4806E;
    $darktheme-green: #8BC34A;
    $darktheme-green-dark: #70C681;