@use 'variables';
.skip-link { // Cacher le lien de saut lorsqu'il n'est pas actif
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: white !important;
    padding: 8px;
    z-index: 100;
    transition: top 0.3s;

}

::-webkit-scrollbar {
    display: none;
}

.light {
    /* Styles pour le thème clair */
    background-color: variables.$light-bg-color;

    h1 {
        color: variables.$lighttheme-brown-dark;
    }
    h2 {
        color: variables.$lighttheme-brown-dark;
    }
}

.dark {
    /* Styles pour le thème sombre */
    background-color: variables.$dark-bg-color;
    color: white;

    h1 {
        color: variables.$lighttheme-blue;
    }
    h2 {
        color: variables.$lighttheme-blue;
    }
}

html {
    height: 100%;
}

body { 
    position: relative;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    
    display: flex;
    flex-direction: column ;
    align-items: center;
    padding-bottom: 15rem;
}

h1 {
    font-family: 'Norwester', sans-serif;
    font-size: 3rem;
    font-weight: 600;
}


a {
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:hover {
    color: variables.$lighttheme-blue-dark;
  }

}


.skip-link:focus { // Afficher le lien de saut lorsqu'il est actif
    top: 0;
}
